<h1>
  <%= neighborhood.name %>
</h1>

<% if (neighborhood.neighborhoodPhoto) { %>
  <img src="<%= neighborhood.neighborhoodPhoto %>" width="200">
  <% } %>

    <p><a href="/dashboard/neighborhoods">Back to All Neighborhoods</a></p>