<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>404 - المقال غير موجود</title>
</head>
<body>
  <h1>404 - المقال غير موجود</h1>
  <a href="/">العودة للرئيسية</a>
</body>
</html>
